{% layout 'theme.uau' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div id="MembershipApplication" class="contact-form form-vertical">
        {% comment %}
          React content
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

<style>
  body.template-apply {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  body.template-apply .page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .uau-radio-label {
    margin-right: 10px;
  }
  input[type="file"] {
    border: 0;
    padding: 0;
  }
  input[data-is-valid="false"] {
    border-color: red;
    color: red;
  }

  @media (max-width: 767px) {
    body.template-apply {
      height: auto;
    }
  }
</style>