<style>
  .uau-footer {
    background-color: #000;
    padding-top: 1.45rem;
    padding-bottom: 1.45rem;
  }
  .uau-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .uau-footer a {
    display: inline-block;
    padding: 10px;
  }
</style>
<footer class="uau-footer">
  <div class="uau-row">
    <a href="https://instagram.com/suavecitopomade" title="Suavecito On Instagram" target="_blank" rel="noreferrer">
      <img src="{{ 'instagram.png' | asset_img_url: '20x20'}}" alt="Instagram" />
    </a>
    <a href="https://facebook.com/suavecitopomade" title="Suavecito On Facebook" target="_blank" rel="noreferrer">
      <img src="{{ 'facebook.png' | asset_img_url: '20x20'}}" alt="Facebook" />
    </a>
    <a href="https://twitter.com/suavecitopomade" title="Suavecito On Twitter" target="_blank" rel="noreferrer">
      <img src="{{ 'twitter.png' | asset_img_url: '20x20'}}" alt="Twitter" />
    </a>
    <a href="https://youtube.com/suavecitopomade" title="Suavecito On YouTube" target="_blank" rel="noreferrer">
      <img src="{{ 'youtube.png' | asset_img_url: '20x20'}}" />
    </a>
  </div>
</footer>